/* selettore {
    proprietà: valore;
    proprietà: valore;
} */

/* head */


  

/* body */
/* header */

.logo {
    height: 70px;
    width: auto;
    margin-top: 100px;
}

header {
    background-image: url(../img/pattern.png);
    height: 180px;
    background-color: #4EA1FF;
}


/* main  */



/* section 1  */

section h4, h5, h6 {
    font-weight: 200;
    color: grey;
    margin: 0 0;
}

.sub-title{
    color: #4EA1FF;
    font-weight: 600;
}


/* section 2  */

.highlight {
    background-color: yellow;
}

/* section 3  */

.table-blue {
    background-color: #23A8E4;
    color: white;
}




/* footer  */