
/* header */

header {
    background-image: url('../img/pattern.png');
    background-color: #9CD6F4;
    
}

#logo-cont {
    width: 80%;
    margin: 0 auto;
}

#logo {
    height: 50px;
    margin: 40px 0px;
}


/* main */

main {
    width: 80%;
    margin: 0 auto;
}

.grey-text {
    display: block;
    color: grey;
}

#blue-text {
    color: #98D0ED;
    font-weight: 1000;
}

.sub-info {
    display: block;
}

#highlight {
    background-color: yellow;
}

ul {
    margin: 50px 0;
}

table {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

#table-title {
    background-color: #7FA6FB;
}

.table-color {
    background-color: grey;
}